@{
    ViewBag.Title = "About";
}

<div class="container containerGradient p-3" style="min-width: 1000px;">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-2">About</h1>
            <h1 class="text-muted">A little more about the app & its creator.</h1>
            <hr />
            <div class="row align-items-center">
                <div class="col">
                    <img src="~/Images/SelfPortrait.jpg" class="img-fluid pictureHome text-center" alt="Crypto Asset Tracker" />
                </div>
                <div class="col">
                    <h2 class="text-muted">The Developer</h2>
                    <hr />
                    <p style="font-size: 18px;">Hi! My name is Caleb Addie and I am the developer behind this app. If you've made it to this section, THANK YOU for checking out this project! While not perfect, it was a labor of love and I sincerely enjoyed putting it together. If you have feedback, questions, or want to collaborate on future projects, please reach out.</p>
                    <h2 class="text-muted">Shoutouts</h2>
                    <hr />
                    <p style="font-size: 18px;">I wanted to take a moment to thank my amazing instructors, Simon and Nick, the learning assistants, especially Jess, Peyton, and Mitchell, my all of classmates, especially Adam and Jon, and my family for all of their patience, support, and guidance.</p>
                    <h2 class="text-muted">Contact Info</h2>
                    <hr />
                    <p>You can keep in touch with me by reaching out to cjaddie.89@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
