@{
    ViewBag.Title = "Home Page";
}

<div class="container pb-3" style="min-width: 1000px;">
    <div class="row">
        <div class="col d-flex justify-content-end mr-4">
            <h1 class="text-white">Click above for navigation options <i class="fas fa-arrow-up text-warning"></i></h1>
        </div>
    </div>
</div>
<div class="container containerGradient p-3" style="min-width: 1000px;">
    <div class="container containerHome p-3">
        <div class="text-center">
            <h1 class="display-3 text-info text-center">Welcome to <br /> CAT, Sports Edition!</h1>
        </div>
        <hr class="text-warning" />
        <div class="row align-items-center p-3">
            <div class="col-6">
                <img src="~/Images/AccountSnapshot.png" class="img-fluid pictureHome text-center" alt="Crypto Asset Tracker" />
            </div>
            <div class="col-6 align-self-center text-center">
                <h1 class="text-white">See the growth & performance of your Asset portfolio.<br /><i class="fas fa-angle-double-left text-warning"></i></h1>
            </div>
        </div>
        <hr class="text-warning" />
        <div class="row p-3">
            <div class="col-6 align-self-center text-center">
                <h1 class="text-white">Keep your Assets organized by adding them to Collections.<br /><i class="fas fa-angle-double-right text-warning"></i></h1>
            </div>
            <div class="col-6">
                <img src="~/Images/Collections.png" class="img-fluid pictureHome" alt="Crypto Asset Tracker" />
            </div>
        </div>
        <hr class="text-warning" />
        <div class="row p-3">
            <div class="col-6">
                <img src="~/Images/AssetManagement.png" class="img-fluid pictureHome" alt="Crypto Asset Tracker" />
            </div>
            <div class="col-6 align-self-center text-center">
                <h1 class="text-white">Tools to help manage your Assets.<br /><i class="fas fa-angle-double-left text-warning"></i></h1>
            </div>
        </div>
        <hr class="text-warning" />
        <div class="row p-3">
            <div class="col-6 align-self-center text-center">
                <h1 class="text-white">See how your Assets performed after a sale.<br /><i class="fas fa-angle-double-right text-warning"></i></h1>
            </div>
            <div class="col-6">
                <img src="~/Images/SoldAsset.png" class="img-fluid pictureHome" alt="Crypto Asset Tracker" />
            </div>
        </div>
    </div>
</div>
<br />
<br />