
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand img {
    width: auto;
    max-height: 140px;
}

.navlink_text {
    font-size: 24px;
}

.navlink:hover {
    font-size: 30px;
    color: #ffc107 !important;
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Oswald", sans-serif;
}

.limited {
    padding: 1px 7px 1px 7px;
    background: rgba(33, 33, 33, 0.9);
    color: rgb(120, 225, 0);
    border: 2px solid rgba(120, 225, 0, 1);
    border-radius: 4px;
}

.common {
    padding: 1px 6px 1px 6px;
    background: rgba(33, 33, 33, .9);
    color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 4px;
}

.greenbox {
    width: auto;
    padding: 6px;
    background: rgba(33, 33, 33, 0.9);
    color: rgb(120, 225, 0);
    border: 2px solid rgba(120, 225, 0, 1);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bluebox {
    width: auto;
    padding: 6px;
    background: rgba(33, 33, 33, 0.9);
    color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.redbox {
    width: auto;
    padding: 6px;
    background: rgba(33, 33, 33, 0.9);
    color: red;
    border: 2px solid red;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topdiv {
    height: 43vh;
    background-color: #212121;
    position: relative;
}

.backgroundGradient {
    background-image: linear-gradient(#424242, #212121);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.containerGradient {
    min-width: 1000px;
    border-radius: 15px;
    border: 2px solid #BDBDBD;
    background-image: linear-gradient(#EEEEEE, #BDBDBD);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
    margin-bottom: 8px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: auto;
    background-color: none;
    text-align: right;
}

.picture_container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom_right_text {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.top_left_text {
    position: absolute;
    top: 0px;
    left: 10px;
}

.tableHeadText {
    font-size: 20px;
}

.playerText {
    font-size: 18px;
}

.table-responsive {
    overflow-x: visible !important;
}

.box_shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search_box {
    width: 200px;
}









